<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- log4net的定义 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <!-- 日志文件部分log输出格式的设定 -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="..\log\translate_server.log"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header] "/>
        <footer value="[Footer] "/>
        <ConversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
      </layout>
    </appender>
    <appender name="TransportLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="..\log\Transport.log"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header] "/>
        <footer value="[Footer] "/>
        <ConversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
      </layout>
    </appender>
    <appender name="DatabaseOperationLogFile" type="log4net.Appender.RollingFileAppender">
      <file value="..\log\DatabaseOperation.log"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header] "/>
        <footer value="[Footer] "/>
        <ConversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
      </layout>
    </appender>
    <appender name="UserOperationLogFile" type="log4net.Appender.RollingFileAppender">
      <file value="..\log\UserOperation.log"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header] "/>
        <footer value="[Footer] "/>
        <ConversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
    <logger name="translate_server.TransportOperation">
      <level value="ALL"/>
      <appender-ref ref="TransportLogFileAppender"/>
    </logger>
    <logger name="translate_server.DatabaseOperation">
      <level value="ALL"/>
      <appender-ref ref="DatabaseOperationLogFile"/>
    </logger>
    <logger name="translate_server.UserOperation">
      <level value="ALL"/>
      <appender-ref ref="UserOperationLogFile"/>
    </logger>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>